// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.header {
    border-color: darkblue;
    border-style: solid;
    border-width: medium;

    text-align: center;
}

.header h1 {
    font-size: 6em;
    font-weight: 900;
}

.card-body {
    display: flex;
    flex-direction: row;
}
